# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unit tests on jadeite

on:
  push:
    branches:
    - '**'
  pull_request:
    branches:
    - '**'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install -r requirements.txt
        printf "DATA_DIRECTORY = '/home/runner/work/jadeite/jadeite/data/testing'\nRESULTS_DIRECTORY = '/home/runner/work/jadeite/jadeite/results'" > config.py
    - name: Lint with flake8
      run: |
        flake8 .
    - name: Run unit tests
      run: |
        python -m unittest discover
